
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': PostListlove >= 0,
                'list-group-item-danger': PostListlove < 0}">
    <p [ngStyle]="{color: getColor()}" style="position: absolute; top: 0; right: 0;"> Mis à jour :{{ lastUpdate | date: 'yMMMMEEEEd' | uppercase }}</p>
    <h2 [ngStyle]="{color: getColor()}"> {{ PostListItem }} </h2>
    <h4 [ngStyle]="{color: getColor()}" > {{ PostListContent }} </h4>
    <input type="text" class="form-control" [(ngModel)]="PostListContent">
    <button class="btn btn-success"
             
              (click)="onAjouter()">I love it</button>
        <button class="btn btn-danger"
              
              (click)="onDiminuer()">I don't love it</button>
</li>